<mat-card>
  <div class="card-wrapper">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <table class="table-wrapper" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="table-wrapper">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    placeholder="Ex. user@user.com"
                    formControlName="email"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="table-wrapper" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="table-wrapper">
                  <mat-label>Senha</mat-label>
                  <input
                    matInput
                    placeholder="Admin12345"
                    formControlName="password"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div class="error" *ngIf="errorMsg">
          <p>{{ errorMsg }}</p>
        </div>
        <div class="button-wrapper">
          <button
            [disabled]="!loginForm.valid"
            mat-stroked-button
            color="primary"
            class="btn-grow"
            (click)="submitForm()"
          >
            Entrar
          </button>
          <button
            mat-stroked-button
            color="primary"
            class="btn-grow"
            [routerLink]="['/authentication/register']"
          >
            Crie uma conta
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
