<mat-card>
  <div class="card-wrapper">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    placeholder="Ex. user@user.com"
                    formControlName="email"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Senha</mat-label>
                  <input
                    matInput
                    placeholder="Admin12345"
                    formControlName="password"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <button
          mat-stroked-button
          color="primary"
          (click)="submitForm()"
        >
          Entrar
        </button>
      </form>
    </mat-card-content>
  </div>
</mat-card>
