<div class="title">
  <p>Wise Wallet</p>
</div>
<!-- <mat-grid-list class="login-content" cols="2" rowHeight="2:1">
  <mat-grid-tile>Wise Wallet</mat-grid-tile>
  <mat-grid-tile> -->
<div class="authentication">
  <div class="wallet">
    <img src="assets/images/wallet.png" />
  </div>
  <mat-card class="register">
    <div class="card-wrapper">
      <mat-card-header>
        <mat-card-title>Criar conta</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm">
          <div class="form-group">
            <table class="table-wrapper" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="table-wrapper">
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      placeholder="Ex. user@user.com"
                      formControlName="email"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="table-wrapper" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="table-wrapper">
                    <mat-label>Senha</mat-label>
                    <input
                      matInput
                      placeholder="Admin12345"
                      formControlName="password"
                    />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="table-wrapper">
                    <mat-label>Confirme sua senha</mat-label>
                    <input
                      matInput
                      placeholder="Admin12345"
                      formControlName="confirmPassword"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div
              class="alert alert-danger"
              *ngIf="
                registerForm.get('password')?.dirty &&
                registerForm.get('confirmPassword')?.dirty &&
                registerForm.hasError('passwordMismatch')
              "
            >
              Senhas não coincidem.
            </div>
          </div>
          <div class="button-wrapper">
            <button mat-stroked-button class="btn-grow" (click)="submitForm()">
              Criar
            </button>
            <button
              mat-stroked-button
              class="btn-grow"
              [routerLink]="['/authentication/login']"
            >
              Voltar
            </button>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
