.mat-card {
  width: 80%;
  margin: auto;
  min-width: 11rem;
}
.card-wrapper {
  align-items: end;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
