@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/styles/variables.scss";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
body {
  background-color: #00113d;
}

app-authentication-login,
app-authentication-register {
  width: 30rem;
  min-width: 13rem;
}

.card-wrapper {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-grow {
  transition: all 0.2s ease-in-out;
}
.icon-grow {
  transition: all 0.2s ease-in-out;
}
.icon-grow:hover {
  transition: scale(1.1);
}

.btn-grow:not(button:disabled):hover {
  transform: scale(1.1);
}

.mat-card-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #00113d;
}

button:not(button:disabled) {
  color: $primary-color;
  background-color: $secondary-color;
}

button:not(button:disabled):hover {
  transition: 0.2s;
  color: $secondary-color;
  background-color: $primary-color;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.error {
  margin: auto;
  width: 80%;
  p {
    color: red;
  }
}

@media (max-width: 400px) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
