.mat-card-content {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 30%;
  min-width: 8rem;
  margin: 0.5rem 0;
}

.table-wrapper {
  width: 80%;
}
.mat-form-field {
  width: 100%;
}
